doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Init Sandbox Virtual Hosts
    link(href='https://bootswatch.com/darkly/bootstrap.css', rel='stylesheet')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body( *model="#model")
    .container-fluid
      center.row
        .col-md-6.col-md-push-6( *model="#model.details")
          .navbar.navbar-inverse
            .container-fluid
              .navbar-header.navbar-right
                a.navbar-brand(href="#")
                  span Init Sandbox Virtual Hosts
              .navbar-form.navbar-left(role="search")
                br
                .from-group
                  input#filtro.form-control(type="text", placeholder="Filtrar", *dlink="#model.filtrar")
                  span.glyphicon.glyphicon-remove-circle.clearfilter
          h1( *bring="name")
          br
          section.container.details( *cls="-hide:#model.details.show" )
            p
              span.title Dominios:&nbsp;
              span.links( *for="subdomain" ) <a *bring="#model.value", *href="#model.geturl"></a> &nbsp;
            p
              spant.title <i class="fa fa-user" aria-hidden="true"></i> &nbsp; &nbsp; <bring ~user.name></bring>
              br
              spant.title <i class="fa fa-key" aria-hidden="true"></i> &nbsp; <bring ~user.pwd></bring>
            p
              span.title <i class="fa fa-code" aria-hidden="true"></i> &nbsp;
              small( *bring="root")
              br
              span.title <i class="fa fa-server" aria-hidden="true"></i> &nbsp;
              small /etc/nginx/sites-enabled/<bring ~name> </bring>
            p
              span.title <i class="fa fa-bitbucket" aria-hidden="true"></i> &nbsp;
              span.title <i class="fa fa-code-fork" aria-hidden="true"></i> &nbsp; 
              span.title( *bring="git.branch" )
              small( *bring="git.repo" )
        .col-md-6.col-md-pull-6.container-outside
          br
          virtualhosts.container( *for='virtualhosts', :='div{"class":"list-group"}')
              a.list-group-item.active( *bring="name", href="#")
              div( *for="envs" :='a{"class":"list-group-item"}')
                div( *onclick="#model.selectme") » &nbsp;
                  span( *bring="name")
                  .pull-right( *for="notes", :='span{"class":"label"}')
                    bring( ~#model.value)

    script(src="/js/data-link.js")
    script(src="/js/main.js")
