html, body, .container, .container-fluid , center.row {
  width: 100%;
  height: 100%;
}

.list-group {
  width: 100%;
}

.navbar-inverse {
  background-color: #222;
}
.navbar-form .form-control {
  height: 14pt;
  background-color: rgba(65,65,65,0.5);
  color: #DDD;
}

.container-outside {
  overflow-y: scroll;
  max-height: 100%;
  min-height: 100px;
}

a.list-group-item{
  padding: 1px;
  color: #3d70b6;
  text-align: left;
  padding-left: 6pt;
}

h1 {
  font-size: 16pt;
  font-weight: 600;
}

section.details {
  font-size: 10pt;
  margin: 0px;
  word-warp: all;
}

span.small{ 
  font-size: 4pt;
}

span.title {
  font-weight: 600;
}

.glyphicon.glyphicon-remove-circle.clearfilter:hover{
  font-weight: 900;
  color: #000;
}

.glyphicon.glyphicon-remove-circle.clearfilter{
  font-weight: 100;
  color: #3d3d3d;
  font-size: 10px;
  margin-left: -14px;
  margin-top: 4px;
  transition: color 0.5s;
}

#filtro {
  padding-left: 6px;
}
.from-group {
  display: inline-flex;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-top: none;
  border-bottom: none;
  box-shadow: none;
}


.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.details {
  text-align: left;
  margin: 14pt;
}

.hide{
  display: none;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.active.list-group-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 0px;
  text-align: center;
}

::-webkit-scrollbar {
  height: 6px;
  width: 3px;
  background: #222;
}

  ddbackground: #1a1a1a;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #222;
}
@media (max-width: @screen-xs) {
  body{font-size: 10pt;}
}

@media (max-width: @screen-sm) {
  body{font-size: 18pt;}
}
